*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fdf9da;
}

/* Styles for the cookie popup */
.cookie-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 999; /* Ensure it's above other elements */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  min-width: 80%;
}
@media (min-width: 800px) {
  .popup-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 800px) {
  .popup-content {
    min-width: 20%;
  }
}
.popup-content h2 {
  font-size: 1.5rem;
}
.popup-content p {
  margin: 20px 0;
}

#only-necessary-button {
  border: none;
}

#ok-button {
  background-color: #fac000;
}
#ok-button:hover {
  background-color: #e0ab00;
}

.b {
  text-align: center;
}

/* Add styles for the close icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Initially hidden */
}

.cookie-switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cook-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.omOssBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mid-rubrik1 {
  color: #4c560f;
  font-size: 1.5rem;
  font-family: "Bungee Inline", sans-serif;
  font-weight: 300;
}
@media (min-width: 700px) {
  .mid-rubrik1 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.cardContainer {
  margin: auto;
}
@media (min-width: 700px) {
  .cardContainer {
    max-width: 900px;
  }
}
@media (min-width: 1300px) {
  .cardContainer {
    max-width: 1400px;
  }
}

.container {
  margin: auto;
}
.container .popular {
  padding: 1.5rem;
}

.logo {
  width: 20vw;
  margin: auto;
  max-width: 120px;
}
@media (min-width: 700px) {
  .logo {
    margin: 0 0 0 1.5rem;
  }
}

.btn {
  display: inline-block;
  background-color: #ba3e5b;
  color: white;
  font-weight: 500;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border: none;
}
.btn.btn-submit {
  background-color: rgb(208, 64, 64);
}

.rubrik1-p {
  margin-bottom: 1rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#search {
  padding: 2rem 1rem;
}

#search-bar {
  position: relative;
}
#search-bar #header-search {
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 100px;
  border: 1px solid grey;
  width: 100%;
}
#search-bar #header-search.focus-border {
  border: 1px solid #ba3e5b;
  outline: none;
  box-shadow: 0px 0px 20px #ba3e5b;
}
#search-bar #btn-search {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-recipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.chips {
  padding: 1rem 2rem;
}

.recept .recept-img {
  height: 400px;
}
.recept .recept-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps-container {
  padding: 2rem;
}

#categorys {
  margin-top: 1rem;
}

.chip + label {
  display: inline-block;
  background-color: #ba3e5b;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.4rem;
  color: white;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.chip[type=checkbox] {
  display: none;
}
.chip[type=checkbox]:checked + label {
  background-color: rgb(208, 64, 64);
}

.popular-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-cards .card {
  position: relative;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 98%;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  overflow: hidden;
  background-color: white;
}
@media (min-width: 700px) {
  .popular-cards .card {
    flex: 0 0 48%;
  }
}
@media (min-width: 1300px) {
  .popular-cards .card {
    flex: 0 0 24%;
  }
}
.popular-cards .card .imageContainer {
  height: 200px;
}
.popular-cards .card .imageContainer img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-cards .card .cardHeader {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0;
}
.popular-cards .card .cardDesc {
  margin-bottom: 1rem;
}
.popular-cards .card .cardLink {
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  border: solid 2px black;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
}
.popular-cards .card .cardLink .linkText {
  margin-right: 0.5rem;
}
.popular-cards .card.hide {
  display: none;
}
.popular-cards .card:last-child {
  margin-bottom: 0;
}

.main-header {
  padding: 0.5rem 0 0.2rem 0;
  width: 100vw;
  max-width: 100%;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.main-header.omOss {
  background-image: none;
  background-color: #1d1d1d;
}
@media (min-width: 700px) {
  .main-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
  }
}
.main-header .mobile-nav {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  z-index: 11;
  position: absolute;
  top: 0;
  left: -100vw;
  transition: left 800ms;
}
.main-header .mobile-nav.visible {
  left: 0;
}
.main-header .mobile-nav .closeIcon {
  font-size: 2.5rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.main-header .mobile-nav .menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100vh;
  padding-top: 4rem;
}
.main-header .mobile-nav .menuList li {
  width: 70%;
  background-color: gray;
  flex: 0 0 10%;
}
.main-header .mobile-menuIconContainer {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 35%;
}
@media (min-width: 700px) {
  .main-header .mobile-menuIconContainer {
    display: none;
  }
}
.main-header .desktop-nav {
  display: none;
}
@media (min-width: 700px) {
  .main-header .desktop-nav {
    display: block;
    flex: 0 0 26vw;
  }
}
@media (min-width: 1000px) {
  .main-header .desktop-nav {
    flex: 0 0 20vw;
  }
}
.main-header .desktop-nav ul {
  list-style: none;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}
.main-header .desktop-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

#hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url(/img/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 700px) {
  #hero {
    background-image: url(/img/hero.jpg);
    padding: 5vw;
  }
}
#hero .text {
  padding-top: 8rem;
  padding-left: 2rem;
}
#hero .text p {
  margin-top: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 4rem;
  font-family: "Bungee Inline", sans-serif;
  font-weight: 300;
  color: #4c560f;
  display: inline-block;
  line-height: 5rem;
  vertical-align: center;
  background-color: #f6f634;
  overflow: hidden;
}
@media (min-width: 700px) {
  #hero .text p {
    padding: 1.2rem 2rem 1rem 0.5rem;
    font-size: 6rem;
  }
}
@media (min-width: 1000px) {
  #hero .text p {
    font-size: 6rem;
  }
}
#hero .heroButton {
  margin-top: 10rem;
  display: inline-block;
  background-color: #e95e3f;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  padding: 0.7rem 2.5rem;
  border-radius: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
@media (min-width: 700px) {
  #hero .heroButton {
    position: absolute;
    bottom: 1rem;
    left: 42%;
  }
}

.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid white;
}

#main-footer {
  background-color: #fdf26d;
  padding: 1.5rem 1.5rem 2rem 1rem;
}
@media (min-width: 700px) {
  #main-footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
#main-footer .footer-inside {
  margin: auto;
}
@media (min-width: 700px) {
  #main-footer .footer-inside {
    display: flex;
    align-items: center;
  }
}
#main-footer .footer-inside ul {
  list-style: none;
}
@media (min-width: 700px) {
  #main-footer .footer-inside ul {
    display: flex;
    flex: 0 0 70%;
    margin-left: 2rem;
  }
}
#main-footer .footer-inside ul li a {
  display: block;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  color: #ff5b03;
  font-family: "Bungee Inline", sans-serif;
}
@media (min-width: 700px) {
  #main-footer .footer-inside ul li a {
    display: inline-block;
    margin: 0 0 0 3rem;
  }
}

.tips {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #a1aed1;
  position: relative;
  overflow: hidden;
}
.tips .tipsImage {
  width: 50vw;
  max-width: 450px;
  z-index: 3;
  animation: rotation 3s infinite linear;
  position: absolute;
  transition: left 1s ease-out, right 1s ease-out;
}
.tips .tipsImage.banana {
  top: 10vh;
  left: -60vw;
  width: 60vw;
}
.tips .tipsImage.banana.animation {
  left: -15vw;
}
@media (min-width: 900px) {
  .tips .tipsImage.banana.animation {
    left: 7vw;
  }
}
.tips .tipsImage.cherry {
  bottom: 15vh;
  right: -55vw;
  width: 55vw;
}
.tips .tipsImage.cherry.animation {
  right: -10vw;
}
@media (min-width: 900px) {
  .tips .tipsImage.cherry.animation {
    right: 7vw;
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.tips .speechBubble {
  border: solid black 4px;
  background-color: white;
  padding: 2rem;
  width: 40vw;
  min-height: 130px;
  border-radius: 32px;
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  transition: left 1s ease-out, right 1s ease-out;
}
.tips .speechBubble.bubble1 {
  top: 10vh;
  right: -50vw;
}
.tips .speechBubble.bubble1.animation {
  right: 5vw;
}
@media (min-width: 1200px) {
  .tips .speechBubble.bubble1.animation {
    right: 23vw;
  }
}
.tips .speechBubble.bubble1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
}
.tips .speechBubble.bubble1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -18px;
  top: 32px;
}
.tips .speechBubble.bubble1 .bubbleChecker1 {
  position: absolute;
  top: 0;
  left: -50vw;
  width: 5000px;
}
.tips .speechBubble.bubble2 {
  bottom: 10vh;
  left: -50vw;
}
@media (min-width: 700px) {
  .tips .speechBubble.bubble2 {
    bottom: 15vh;
  }
}
.tips .speechBubble.bubble2.animation {
  left: 5vw;
}
@media (min-width: 1200px) {
  .tips .speechBubble.bubble2.animation {
    left: 23vw;
  }
}
.tips .speechBubble.bubble2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgb(0, 0, 0);
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -23px;
  bottom: 75px;
}
.tips .speechBubble.bubble2:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -18px;
  bottom: 75px;
}
.tips .speechBubble.bubble2 .bubbleChecker2 {
  position: absolute;
  top: 0;
  right: -50vw;
  width: 5000px;
}

.border-container {
  overflow: hidden;
  height: 60px;
  margin-bottom: -3px;
}
.border-container .border-image {
  height: 60px;
  width: 2800px;
  background: url("/img/border.png") repeat-x;
  animation: slide 50s linear infinite;
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1400px);
  }
}

#headerText {
  color: #4c560f;
  background-color: #fdf9da;
  padding: 2rem;
  font-family: "Bungee Inline", sans-serif;
}
#headerText .emptyBox {
  height: 51px;
}
#headerText .siteHeading {
  display: flex;
  justify-content: center;
}

#aboutUsTextConatiner {
  width: 80%;
  margin: auto;
}
#aboutUsTextConatiner .aboutUsTextBox {
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 1rem 0;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  overflow: hidden;
  background-color: white;
}
.teamContainer {
  background-color: #a1aed1;
}
.teamContainer h3 {
  text-align: center;
  padding-top: 2rem;
}
.teamContainer .teamPic {
  padding: 1rem 0;
  margin: 0 1rem;
}
@media (min-width: 1000px) {
  .teamContainer .teamPic {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
.teamContainer .teamPic .personPic {
  margin-top: 2rem;
  border-radius: 1.5rem;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .teamContainer .teamPic .personPic {
    flex: 0 0 30%;
  }
}
.teamContainer .teamPic .personPic img {
  width: 100%;
}

.recept-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recept-cards:after {
  content: "";
  flex: 1 1 100%;
  max-width: 49%;
}
.recept-cards .card {
  position: relative;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 98%;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  overflow: hidden;
  background-color: white;
}
@media (min-width: 700px) {
  .recept-cards .card {
    flex: 0 0 48%;
  }
}
@media (min-width: 1300px) {
  .recept-cards .card {
    flex: 0 0 24%;
  }
}
.recept-cards .card .imageContainer {
  height: 200px;
}
.recept-cards .card .imageContainer img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recept-cards .card .cardHeader {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0;
}
.recept-cards .card .cardDesc {
  margin-bottom: 1rem;
}
.recept-cards .card .cardLink {
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  border: solid 2px black;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
}
.recept-cards .card .cardLink .linkText {
  margin-right: 0.5rem;
}
.recept-cards .card.hide {
  display: none;
}
.recept-cards .card:last-child {
  margin-bottom: 0;
}

.individuellaContainer #rubrik {
  color: #4c560f;
  font-size: 1.8rem;
  font-family: "Bungee Inline", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 15vh;
}
@media (min-width: 700px) {
  .individuellaContainer #rubrik {
    font-size: 4rem;
  }
}
.individuellaContainer .container {
  padding: 1rem;
}
.individuellaContainer .container h2 {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 300;
}
@media (min-width: 700px) {
  .individuellaContainer .container .topContainer {
    display: flex;
  }
}
.individuellaContainer .container .topContainer #imageContainer {
  padding: 0;
  overflow: hidden;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  border-radius: 0.8rem;
  height: 330px;
  margin-bottom: 1rem;
}
@media (min-width: 700px) {
  .individuellaContainer .container .topContainer #imageContainer {
    flex: 0 0 350px;
  }
}
.individuellaContainer .container .topContainer #imageContainer .recipeImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.individuellaContainer .container .topContainer .descContainer {
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
@media (min-width: 700px) {
  .individuellaContainer .container .topContainer .descContainer {
    flex: 1 1 auto;
    margin-left: 1rem;
  }
}
.individuellaContainer .container .contentContainer {
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  border: solid 2px black;
  box-shadow: black 3px 3px;
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
}
@media (min-width: 700px) {
  .individuellaContainer .container .contentContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
  }
}
.individuellaContainer .container .contentContainer .contentSection {
  flex: 0 0 35%;
}/*# sourceMappingURL=style.css.map */