@import "sass/variables";
@import "sass/base";
@import "sass/typhography";
@import "sass/cookies";
@import "sass/card";

.omOssBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mid-rubrik1 {
  color: #4c560f;
  font-size: 1.5rem;
  font-family: "Bungee Inline", sans-serif;
  font-weight: 300;
  margin: 1rem;
  @media (min-width: $breakpoint-ipad) {
    font-size: 3rem;
  }
}
h3 {
  font-size: 1.5rem;
}
@mixin flexbox($direction, $justify-content, $align-items, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
.cardContainer {
  @media (min-width: $breakpoint-desktop) {
    max-width: 1400px;
    margin:auto;
  }
}
.container {
  margin: auto;
  .popular {
    padding: 1.5rem;
  }
}
.logo {
  width: 60px;
  margin: auto;
  max-width: 120px;
  @media (min-width: $breakpoint-ipad) {
    width: 80px;
  }
}
.btn {
  display: inline-block;
  background-color: $p-900;
  color: white;
  font-weight: 500;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border: none;
  &.btn-submit {
    background-color: $p-800;
  }
}
.rubrik1-p {
  margin-bottom: 1rem;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#search {
  padding: 2rem 1rem;
}
#search-bar {
  position: relative;
  #header-search {
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 100px;
    border: 1px solid grey;
    width: 100%;
    &.focus-border {
      border: 1px solid $p-900;
      outline: none;
      box-shadow: 0px 0px 20px $p-900;
    }
  }
  #btn-search {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.user-recipes {
  @include flexbox(row, center, flex-start, wrap);
  gap: 1rem;
}
.chips {
  padding: 1rem 2rem;
}
.recept {
  .recept-img {
    height: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.steps-container {
  padding: 2rem;
}
#categorys {
  margin-top: 1rem;
}
.chip {
  + label {
    display: inline-block;
    background-color: $p-900;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.4rem;
    color: white;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
  }
  &[type="checkbox"] {
    display: none;
    &:checked {
      + label {
        background-color: $p-800;
      }
    }
  }
}

.main-header {
  padding: 0.5rem 0 0.2rem 0;
  width: 100vw;
  max-width: 100%;
  background-color: #fdf26d;
  border-bottom: solid black 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  &.omOss {
    background-image: none;
    background-color: #1d1d1d;
  }
  @media (min-width: $breakpoint-ipad) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 0.5rem;
    background-image: none;
    background-color: #fdf26d;
  }
  .mobile-nav {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: white;
    z-index: 11;
    position: absolute;
    top: 0;
    left: -100vw;
    transition: left 800ms;
    &.visible {
      left: 0;
    }
    .menuHeader {
      background-color: #fdf9da;
      display: flex;
      align-items: center;
      padding: 1rem;
      justify-content: space-between;
      .closeIcon {
        font-size: 2.5rem;
        margin-right: 5rem;
        // position: absolute;
        // top: 0.5rem;
        // left: 1rem;
      }
    }
    .menuList {
      background-color: #fdf9da;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-around;
      // align-items: center;
      list-style: none;
      height: 100vh;
      li {
        font-family: "Bungee Inline", sans-serif;
        width: 100%;
        font-size: 2.6rem;
        // background-color: gray;
        flex: 0 0 10%;
        border-top: 1px solid #4c560f;
        border-bottom: 1px solid #4c560f;
        padding: 1.5rem;
        a {
          color: #4c560f;
        }
      }
    }
  }
  .mobile-menuIconContainer {
    position: absolute;
    left: 20px;
    top: 25%;
    background-color: #e95e3f;
    border: black solid 2px;
    box-shadow: black 1px 1px;
    border-radius: 8px;
    padding: 0.5rem;
    .icon {
      width: 30px;
    }
    @media (min-width: $breakpoint-ipad) {
      display: none;
    }
  }
  .desktop-nav {
    display: none;
    @media (min-width: $breakpoint-ipad) {
      display: block;
      flex: 0 0 50%;
    }
    ul {
      list-style: none;
      display: flex;
      flex: 0 0 100%;
      justify-content: flex-end;
      &:first-child {
        a {
          margin-right: 1rem;
        }
      }
      li {
        a {
          color: white;
          font-size: 1.4rem;
          background-color: #e95e3f;
          padding: 0.5rem 1rem 0.5rem 1rem;
          border: solid black 2px;
          box-shadow: black 3px 4px;
          border-radius: 20px;
          text-decoration: none;
        }
      }
    }
  }
}
@mixin coverer {
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}
#hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url(/img/hero_mobile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid black 10px;
  @media (min-width: $breakpoint-ipad) {
    background-image: url(/img/hero.webp);
    padding: 5vw;
  }
  .heroTextContainer{
    height:5rem;
    margin-top:2rem;
  }
  .text {
    padding-top: 8rem;
    padding-left: 2rem;
    .heroText{
      overflow: hidden;
      max-width:2px;
      max-height:0;
      transition: max-height 2s ease-in-out, max-width 2s ease-in-out;
      transition-delay: 0s, 1s;
      &.expandHeight {
          max-height: 20rem; 
          transition-delay: 0s, 0s;
      }
      &.expandWidth {
          max-width: 50rem; 
      }
    }
    p {
      padding: 0 0.5rem 0 0.5rem;
      font-size: 4rem;
      font-family: "Bungee Inline", sans-serif;
      font-weight: 300;
      color: #4c560f;
      display: inline-block;
      line-height: 5rem;
      vertical-align: center;
      background-color: #f6f634;
      white-space: nowrap;
      @media (min-width: $breakpoint-ipad) {
        padding: 0.4rem 2rem 0.3rem 0.5rem;
        font-size: 4rem;
      }
    }
    .heroButton {
      margin-top: 3rem;
      display: inline-block;
      background-color: #e95e3f;
      border: solid 2px black;
      box-shadow: black 3px 3px;
      padding: 0.7rem 2.5rem;
      border-radius: 24px;
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      text-decoration: none;
      @media (min-width: $breakpoint-ipad) {
        // position: absolute;
        // bottom: 1rem;
        // left: 12%;
      }
    }
  }
}
.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid white;
}
#main-footer {
  background-color: #fdf26d;
  padding: 1.5rem 1.5rem 2rem 1rem;
  @media (min-width: $breakpoint-ipad) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .footer-inside {
    margin: auto;
    @media (min-width: $breakpoint-ipad) {
      display: flex;
      align-items: center;
    }
    ul {
      list-style: none;
      @media (min-width: $breakpoint-ipad) {
        display: flex;
        flex: 0 0 70%;
        margin-left: 2rem;
      }
      .cookietagg {
        display: flex;
        justify-content: center;
        .cookie-settings-button {
          background-color: transparent;
          border: none;
          font-family: "Bungee Inline", sans-serif;
          font-size: 1.5rem;
          margin-left: 3rem;
          color: #ff5b03;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      li {
        font-family: "Bungee Inline", sans-serif;
        a {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          margin-top: 1rem;
          color: #ff5b03;
          text-decoration: none;
          @media (min-width: $breakpoint-ipad) {
            display: inline-block;
            margin: 0 0 0 3rem;
          }
        }
        &.cookietagg {
          .cookie-settings-button {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.tips {
  width: 100vw;
  height: 400px;
  max-width: 100%;
  background-color: #a1aed1;
  position: relative;
  overflow: hidden;
  border-top: solid black 4px;
  border-bottom: solid black 10px;
  @media (min-width: $breakpoint-ipad) {
    height: 400px;
  }
  .imageChecker {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .tipsImage {
    width: 50vw;
    max-width: 450px;
    z-index: 3;
    animation: rotation 3s infinite linear;
    position: absolute;
    transition: left 1s ease-out, right 1s ease-out;
    @media (min-width: $breakpoint-ipad) {
      transition: left 1.7s ease-out, right 1.7s ease-out;
    }
    &.banana {
      top: 4vh;
      left: -100vw;
      width: 40vw;
      @media (min-width: $breakpoint-ipad) {
        width: 20vw;
      }
      &.animation {
        left: -15vw;
        @media (min-width: $breakpoint-ipad) {
          left: 0vw;
        }
      }
    }
    &.cherry {
      bottom: 5vh;
      right: -100vw;
      width: 45vw;
      &.animation {
        right: -10vw;
        @media (min-width: $breakpoint-ipad) {
          width: 28vw;
          right: 0vw;
          bottom: 2vh;
        }
      }
    }
    @keyframes rotation {
      0% {
        -webkit-transform: rotate(0deg);
      }
      25% {
        -webkit-transform: rotate(6deg);
      }
      50% {
        -webkit-transform: rotate(0deg);
      }
      75% {
        -webkit-transform: rotate(-6deg);
      }
      100% {
        -webkit-transform: rotate(0deg);
      }
    }
  }
  .speechBubble {
    border: solid black 4px;
    background-color: white;
    padding: 2rem;
    width: 50vw;
    max-width: 525px;
    min-height: 130px;
    border-radius: 32px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    transition: left 1s ease-out, right 1s ease-out;
    @media (min-width: 450px) {
      font-size: 1rem;
    }
    @media (min-width: $breakpoint-ipad) {
      transition: left 1.6s ease-out, right 1.6s ease-out;
    }
    &.bubble1 {
      top: 4vh;
      right: -100vw;
      &.animation {
        right: 22vw;
        @media (min-width: $breakpoint-ipad) {
          right: 22vw;
        }
        @media (min-width: $breakpoint-desktop) {
          right: 38vw;
        }
      }
      &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid black;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: -23px;
      }
      &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: -18px;
        top: 32px;
      }
    }
    &.bubble2 {
      bottom: 2vh;
      left: -100vw;
      &.animation {
        left: 12vw;
        @media (min-width: $breakpoint-ipad) {
          left: 19vw;
        }
        @media (min-width: 1000px) {
          left: 21vw;
        }
        @media (min-width: $breakpoint-desktop) {
          left: 32vw;
        }
      }
      &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid rgb(0, 0, 0);
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        right: -23px;
        bottom: 75px;
      }
      &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid #fff;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        right: -18px;
        bottom: 75px;
      }
    }
  }
}
.border-container {
  background-color: #fdf9da;
  overflow: hidden;
  height: 60px;
  margin-bottom: -3px;
  .border-image {
    height: 60px;
    background: url("/img/border.png") repeat-x;
    animation: slide 50s linear infinite;
    width: 5600px;
    @keyframes slide {
      0% {
        transform: translate(0);
      }
      100% {
        transform: translate(-1400px);
      }
    }
  }
  &.header {
    display: none;
    background-color: #fdf9da00;
    position: absolute;
    max-width: 100%;
    bottom: -56px;
    left: 0;
    @media (min-width: $breakpoint-ipad) {
      display: block;
    }
    .border-image {
      background: url("/img/border-down.png") repeat-x;
    }
  }
}
#headerText {
  color: #4c560f;
  background-color: #fdf9da;
  padding: 2rem;
  font-family: "Bungee Inline", sans-serif;
  .emptyBox {
    height: 51px;
  }
  .siteHeading {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 0;
    font-size: 3rem;
    max-height: 10rem;
    color: #4c560f;
  }
}
#aboutUsTextConatiner {
  width: 80%;
  margin: auto;
  @media (min-width: 1000px) {
    width: 70%;
  }
  .aboutUsTextBox {
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 1rem 0;
    border: solid 2px black;
    box-shadow: black 3px 3px;
    overflow: hidden;
    background-color: white;
    .aboutUsText {
    }
  }
}
.teamContainer {
  background-color: #a1aed1;
  h2 {
    text-align: center;
    padding-top: 2rem;
  }
  .teamPic {
    padding: 1rem 0;
    margin: 0 1rem;

    @media (min-width: 1000px) {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }

    .personPic {
      margin-top: 2rem;
      border-radius: 1.5rem;
      border: solid 2px black;
      box-shadow: black 3px 3px;
      overflow: hidden;
      @media (min-width: 1000px) {
        flex: 0 0 30%;
      }
      img {
        width: 100%;
      }
    }
  }
}
.recept-cards {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // max-width: 420px;
  // margin: auto;
  // @media (min-width: $breakpoint-ipad) {
  //   max-width: 920px;
  // }
  // @media (min-width: $breakpoint-desktop) {
  //   max-width: 1500px;
  // }
  // &:after {
  //   content: "";
  //   flex: 1 1 100%;
  //   max-width: 49%;
  // }
}
.individuellaContainer {
  margin-bottom: 2rem;
  max-width: 1350px;
  margin: auto;
  #rubrik {
    color: #4c560f;
    font-size: 1.8rem;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 15vh;
    @media (min-width: $breakpoint-ipad) {
      font-size: 4rem;
    }
  }
  .container {
    padding: 1rem;
    .topContainer {
      @media (min-width: $breakpoint-ipad) {
        display: flex;
      }
      #imageContainer {
        padding: 0;
        overflow: hidden;
        border: solid 2px black;
        box-shadow: black 3px 3px;
        border-radius: 0.8rem;
        height: 330px;
        margin-bottom: 1rem;
        @media (min-width: $breakpoint-ipad) {
          flex: 0 0 350px;
        }
        .recipeImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .descContainer {
        padding: 0.5rem 0.6rem 0.5rem 0.6rem;
        border: solid 2px black;
        box-shadow: black 3px 3px;
        border-radius: 0.8rem;
        background-color: rgb(255, 255, 255);
        margin-bottom: 1rem;
        @media (min-width: $breakpoint-ipad) {
          flex: 1 1 auto;
          margin-left: 1rem;
        }
      }
    }
    .contentContainer {
      padding: 0.5rem 0.6rem 0.5rem 0.6rem;
      border: solid 2px black;
      box-shadow: black 3px 3px;
      border-radius: 0.8rem;
      background-color: rgb(255, 255, 255);
      @media (min-width: $breakpoint-ipad) {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem 1rem 2rem;
      }
      .contentSection {
        flex: 0 0 35%;
      }
    }
    #ingredientList {
      list-style: none;
      li {
        margin-bottom: 0.5rem;
      }
    }
    #stepList {
      list-style: none;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}
.teamContainer {
  padding: 1.5rem;
  h2 {
    color: #4c560f;
  }
  .teamPic {
    .picture {
      height: 300px;
      // margin-bottom: 1rem;
    }
    figure {
      background-color: white;
      margin-top: 1rem;
      border: solid 2px black;
      box-shadow: black 3px 3px;
      border-radius: 1.5rem;
      overflow: hidden;
      figcaption {
        margin: 0.5rem 1rem;
      }
    }
  }
}
